.Rproj.user
.Rhistory
.RData

html/public/content
html/public/data
html/public/content-data
html/public/config.json

.env

html/public/app/composer/*
html/public/app/slim/*
html/public/app/parsedown.php
html/public/app/autoload.php

